Required node modules:

dotenv
discord.js
hypixel (that's literally the name of it)
mojang-api
axios
mongoose
hy-profile
hypixel-api-wrapper
pm2

You can install these via:

npm i dotenv/discord.js/hypixel/mojang-api/axios/mongoose/hy-profile/hypixel-api-wrapper/pm2

or 

npm install 

^ this will install all of the dependencies as I take it your reading this after cloning it. 

Updated Last: 14th April 2021